2017570091schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="departments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="university">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" default="Türkçe">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lang">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:pattern value="İngilizce"/>
                                  <xs:pattern value="Türkçe"/>
                                </xs:restriction>                
                              </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="second" default="Örgün Öğretim" >
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:pattern value="İkinci Öğretim"/>
                                  <xs:pattern value="Örgün Öğretim"/>
                                </xs:restriction>                
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="period" type="xs:integer" />
                    <xs:element name="quota">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:integer">
                            <xs:attribute name="spec">
                              <xs:simpleType>
                                <xs:restriction base="xs:integer"/>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="field">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:pattern value="SAY"/>
                          <xs:pattern value="EA"/>
                          <xs:pattern value="SÖZ"/>
                          <xs:pattern value="DİL"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="last_min_score">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:decimal">
                            <xs:attribute name="order" use="required" >
                              <xs:simpleType>
                                <xs:restriction base="xs:decimal"/>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="grant">
                      <xs:simpleType>
                        <xs:restriction base="xs:integer">
                          <xs:pattern value="0"/>
                          <xs:pattern value="25"/>
                          <xs:pattern value="50"/>
                          <xs:pattern value="100"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="faculty" type="xs:string" use="required" />
                  <xs:attribute name="id" use="required" >
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:pattern value="[0-9]{9}"/>
                      </xs:restriction>                
                   </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />     
            <xs:attribute name="uType" use="required" >
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="Vakıf"/>
                  <xs:pattern value="Devlet"/>
                </xs:restriction>                
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>